<%- include('../partials/header') -%> <%- include('../partials/navbar') -%>

<div class="container emp-profile">
  <!-- Loading icon -->
  <div id="loadingIcon" style="display: none">
    <img src="/load.gif" alt="Loading Icon" />
  </div>

  <form
    id="profileForm"
    action="/user/upload-avatar"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="<%= user.avatar %>" alt="profile picture" />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input
              type="file"
              class="custom-file-input"
              id="avatar"
              name="avatar"
              onchange="submitForm()"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>Welcome <%= user.name %></h5>
          <br />
          <br />
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <!-- <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
        /> -->
        <p class="profile-edit-btn">Edit Profile</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>WishList</h3>
        <div class="col-md-3 fixed-height-sidebar sidebar">
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
          <p>This is a fixed height sidebar with scroll.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p><%= user.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p><%= user.email %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>National-ID</label>
              </div>
              <div class="col-md-6">
                <p><%= user.nationalID %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>longitude and latitude</label>
              </div>
              <div class="col-md-6">
                <p><%= user.longLat %></p>
              </div>
            </div>
          </div>
        
    </div>
  </form>
</div>

<script>
  function submitForm() {
    document.getElementById("loadingIcon").style.display = "block";
    document.getElementById("profileForm").submit();
  }

  // When the page finishes loading
  window.addEventListener("load", function () {
    // Hide loading icon
    document.getElementById("loadingIcon").style.display = "none";
  });

  // When the form submission state changes
  document
    .getElementById("profileForm")
    .addEventListener("readystatechange", function () {
      // Check if the form is done loading
      if (this.readyState === 4) {
        // Hide loading icon
        document.getElementById("loadingIcon").style.display = "none";
      }
    });
</script>

<%- include('../partials/footer') -%>
